.index{
	display:inline-block;
margin:10px;
padding:20px;
position:absolute;
left:1400px;
top:5px;
font-size:20px;
background-color:white;
color:green;
border:5px solid white}
.gallery{
	display:inline-block;
margin:10px;
position:absolute;
left:1550px;
top:5px;
color:black;
padding:20px;
font-size:20px;
background-color:white;
color:black;
border:5px solid white}
.form{
	display:inline-block;
margin:10px;
position:absolute;
left:1700px;
top:5px;
color:black;
padding:20px;
font-size:20px;
background-color:white;
color:black;
border:5px solid white}
li:hover>a{
	background: white;
	color:black;
	font-weight: bold;
	height:30px;
	
}
.logotyp{
	height:62px;
	width:54px;
	margin:10px;
	color:black;
}
header{
	background-image:url("1710769_01842.gif") ;
	top:-5px;left:-2px;
	position:absolute;
	height:200px;
width:100%;}
.stule{
	left:660px;
font-size:40px;
color: #A52A2A ;
font-family:fantasy;
	position:absolute;
top:20px;
padding:20px;
border:5px solid white;
background-color:#FFFAFA;
}
.pic2{
	position:absolute;
	left:600px;
	top:200px;
	height:100px;
width:800px;}
h1{position:absolute;
	top:200px;
left:630px;}
.fd1{position:absolute;
	top:1900px;
left:600px;}
.r1{
background:#DDA0DD;}
table{
border-collapse: collapse;
font-size:20px;
position:absolute;
	top:400px;
left:200px;
}
td,th{
height: 160px;
width: 450px;
padding: 5px;
text-align: center;
}
.colorse{
height: 220px;
width: 300px;
}	footer{
	position:absolute;
	height:500px;
	width:100%;
	background:#E6E6FA;
	top:2400px;
}
.more{position:absolute;font-size:40px;
left:720px;
top:70px;
color:#8B0000;
list-style:none;}
a:link{
		color: #800000;}
	a:hover{color: #800000;}
.about{
	position:absolute;font-size:20px;
left:520px;
top:270px;
color:#8B0000;}
.team{
	position:absolute;font-size:20px;
left:720px;
top:270px;
color:#8B0000;}
.news{
	position:absolute;font-size:20px;
left:930px;
top:270px;
color:#8B0000;}
.contact{
	position:absolute;font-size:20px;
left:1150px;
top:270px;
color:#8B0000;
}
.rk20{position:absolute;
	font-size:20px;
left:600px;
top:410px;
color:#8B0000;
}
