.index{
	display:inline-block;
margin:10px;
padding:20px;
position:absolute;
left:1400px;
top:5px;
font-size:20px;
background-color:white;
color:green;
border:5px solid white}
.gallery{
	display:inline-block;
margin:10px;
position:absolute;
left:1550px;
top:5px;
color:black;
padding:20px;
font-size:20px;
background-color:white;
color:black;
border:5px solid white}
.form{
	display:inline-block;
margin:10px;
position:absolute;
left:1700px;
top:5px;
color:black;
padding:20px;
font-size:20px;
background-color:white;
color:black;
border:5px solid white}
li:hover>a{
	background: white;
	color:black;
	font-weight: bold;
	height:30px;
	
}
.logotyp{
	height:62px;
	width:54px;
	margin:10px;
	color:black;
}
header{
	background-image:url("images.jpg") ;
	top:-5px;left:-2px;
	position:absolute;
	height:200px;
	width:100%;
}
.text{
	font-size:20px;
	color:black;
	position:absolute;
left:1000px;
top:300px;
width:540px;
}
footer{
	position:absolute;
	height:500px;
	width:100%;
	background:lightblue;
	top:1300px;
}
.stule{
	left:700px;
font-size:40px;
color: #A52A2A ;
font-family:fantasy;
	position:absolute;
top:20px;
padding:20px;
border:5px solid white;
background-color:#FFFAFA;
}
h1{
}
.rl{
height:20px;
width:20px;}
.pic1{
	position:absolute;
	left:300px;
	top:300px;
	height:600px;
width:500px;}
.pic2{
	position:absolute;
	left:-15px;
	top:15px;
	height:70px;
width:500px;}
.top{
	position:absolute;
	left:300px;
	top:1000px;
	font-size:30px;
	}
	a:link{
		color: #800000;}
	a:hover{color: #800000;}
.pic3{
	position:absolute;
	left:-15px;
	top:5px;
	height:70px;
width:500px;
background-image:url("c60013991fa269c27268dd244e4118e9.jpg");}
.pic4{
	position:absolute;
	left:600px;
	top:350px;
	height:600px;
width:600px;}
.more{position:absolute;font-size:40px;
left:720px;
top:70px;
color:#8B0000;
list-style:none;}
a:link{
		color: #800000;}
		a:visited{color: #800000;}
	a:hover{color: #800000;}
.about{
	position:absolute;font-size:20px;
left:520px;
top:270px;
color:#8B0000;}
.team{
	position:absolute;font-size:20px;
left:720px;
top:270px;
color:#8B0000;}
.news{
	position:absolute;font-size:20px;
left:930px;
top:270px;
color:#8B0000;}
.contact{
	position:absolute;font-size:20px;
left:1150px;
top:270px;
color:#8B0000;
}
.rk20{position:absolute;
	font-size:20px;
left:600px;
top:410px;
color:#8B0000;
}
